<div class="overview">
    <img src="{{vm.product.image}}" />
    <div class="title">{{vm.product.title}}</div>
    <div class="sub-title">{{vm.product.subtitle}}</div>
    <ul class="tags">
        <li ng-repeat="tag in vm.product.tags">
            {{tag}}
        </li>
    </ul>
    <ul class="tabs">
        <li>
            <i class="fa fa-home fa-fw" aria-hidden="true"></i>
            <span>OVERVIEW</span>
        </li>
        <li>
            <i class="fa fa-bar-chart selected fa-fw" aria-hidden="true"></i>
            <span class="selected">SALES</span>
        </li>
    </ul>
</div>
